body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Righteous', cursive;
}

header {
  background: rgb(76,195,236);
background: linear-gradient(90deg, rgba(76,195,236,1) 0%, rgba(18,195,155,1) 100%);
  width: 100%;
  padding: 60px 0;
  color: white;
  text-align: center;
}

nav ul {
  background: white;
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

section {
  background: black;
  padding: 5px;

}

nav .logo {
  padding: 20px 13px;
  float: left;
  font-size: 20px;
}

.logo_c {
  width:  120px;
  height: 60px;
}

.motto {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #f2efef;
}



.wcme {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  text-align:center;
  border-top: -1;
  position: absolute; top: 380px; left: 43%;

}

u {
  border-bottom: 5px solid black;
  text-decoration: none;
}

.dsc {
  padding: 80px 0;
  background: white;
}

.desc {
  text-align: center;
  font-size: 20px;
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

.gr {
  padding:40px;
  background: #77dcff;
}

li a {

    color:black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover {
  background: rgb(255,255,255);
 background: linear-gradient(180deg, rgba(255,255,255,1) 77%, rgba(104,240,218,1) 82%, rgba(125,249,226,1) 84%);
}

/*Victoria's css code for the about page 8/2/2018 */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border-radius: 8px;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.divider {
  position: relative;
  left: 415px;
}

/*For the slideshow*/


/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
